body {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Droid Serif', serif;
	font-size: 40px;
	margin: 15px;
}

h2 {
	font-family: 'Droid Serif', serif;
	font-size: 30px;
	margin: 15px;
}

/* Form divs */

.form {
	display: inline-block;
}

/* Game Area Divs */

#player1, #winner, #player2 {
	border: solid 3px blue;
	height: 300px;
	width: 30%;
	margin-left: 3%;
	margin-top: 20px;
}

.heightHack {
	height: 85%;
}

/* Game pieces */

.piece {
	height: 20%;
	width: 30%;
	margin: 3.33%;
}

button img {
	height: 70%;
	width: 70%;
}

.target img {
	border: solid 2px red;
}

/* Social Icons */

.socIcon {
	margin: 20px;
	display: inline-block;
}

.social {
	width: 62px;
	height: 62px;
	background-color: white;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

footer {
	text-align: center;
	padding: 30px;
	color: black;
}